{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block og_title %}{{ title }}{% endblock %}
{% block og_description %}{{ description }}{% endblock %}
{% block og_image %}{{ og_image }}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1 class="py-3">{{ title }}</h1>
        {% load bootstrap4 %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary" type="submit">送信</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}
