{% extends "base.html" %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block og_image %}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="text-center p-5">
            {% if not user.is_authenticated %}
            <h1>トップページ</h1>
            <a class="btn btn-primary" href="/login/twitter/">ログイン</a>
            {% else %}
            <h1>貿易ゲームへようこそ</h1>
            <p>ハローワールド</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}
