{% extends "base.html" %}

{% block title %}{{ account.get_full_name }}さんのページ{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block og_image %}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron">
            <div class="mb-4">
                <h1>{{ account.get_full_name }}<span class="text-muted text-md ml-2">@{{ account.username }}</span></h1>
                <p>所持金：{{ account.money }}円</p>
            </div>
            <div class="mb-4">
                <h4>メニュー</h4>
                <div class="row">
                    <div class="col-md-12">
                        {% ifequal user account %}
                        <a class="btn btn-sm btn-success disabled">アイテムを送る</a>
                        <a class="btn btn-sm btn-warning disabled">マネーを送る</a>
                        {% else %}
                        <a class="btn btn-sm btn-success" href="{% url 'core:tool' %}?r={{ account.username }}">アイテムを送る</a>
                        <a class="btn btn-sm btn-warning" href="{% url 'core:money' %}?r={{ account.username }}">マネーを送る</a>
                        {% endifequal %}
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <h4>所持アイテム</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">所持数</th>
                            <th scope="col">名称</th>
                            <th scope="col">性能</th>
                            <th scope="col">価格</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tool_rel in account.tool_relation.all %}
                        <tr>
                            <th>{{ tool_rel.count }}</th>
                            <td>{{ tool_rel.tool.name }}</td>
                            <td>{{ tool_rel.tool.velocity }}</td>
                            <td>{{ tool_rel.tool.price }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <th>なし</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mb-4">
                <h4>送信履歴</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">送信先</th>
                            <th scope="col">詳細</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in account.sent_logs.all %}
                        <tr>
                            <th>{{ log.recipient.username }}</th>
                            {% if log.item %}
                            <td>{{ log.item.name }} x {{ log.count }}</td>
                            {% else %}
                            <td>{{ log.count }}円</td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <th>なし</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}

{% block script %}{% endblock %}
