<nav class="navbar navbar-expand-lg navbar-dark stylish-color-dark fixed-top scrolling-navbar">
    <a class="navbar-brand" href="/">貿易ゲーム</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/ugo_compeito">twitter</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="themes">@{{ user.username }} {{ user.money }}円 <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        <a class="dropdown-item" href="{% url 'core:users' user.username %}">マイページ</a>
                        <a class="dropdown-item" href="{% url 'account:settings' %}">ユーザー設定</a>
                        <a class="dropdown-item" href="{% url 'account:logout' %}">ログアウト</a>
                        {% if user.is_superuser %}
                        <a class="dropdown-item" href="/admin/">管理画面</a>
                        {% endif %}
                  </div>
                </li>
                {% else %}
                <a class="btn btn-info" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">ツイッターでログイン</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
